@import "./variables.css";

*, ::after, ::before {
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f4f4f4;
}


/* Global */
.container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3em;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    background-color: #ffffff;
    border-radius: 15px;
    height: auto;
}



.section-name {
    font-weight: bold;
    font-style: italic;
    font-size: 1.9em;

}

ul {
    padding: 0;
    margin: 0;
}

li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    color: #000000;
}


/* Header */

header {
    background-image: url("../assets/backgroundImage.jpg");
    border-bottom: #FFC0CB 3px solid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;

    padding-top: 30px;
    min-height: 70px;
}


.header-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    margin-top: 10px;
    align-self: flex-end;
}


header #links-container ul li a{
    font-size: 1.2em !important;
    font-weight: bold;
}

header #links-container ul li a:hover {
    color: rgb(0, 67, 133);
    font-weight: bold;
}


header #welcome-container {
    float: left;
    margin-top: 20px;
    margin-left: 1em;
}


header #welcome-container #welcome {
    font-size: 4em;
    font-weight: bold;
    color: rgb(0, 67, 133);
    margin: 0;
}

#itroduce {
    font-weight: bold;
    font-size: 1.5em;
}

#welcome-name{
    font-size: 2em;
    margin-left: 0.2em;
    color: rgb(0, 67, 133);
    font-weight: bold;
}

#welcome-container{
    align-self: flex-start;
}

#user-links-container-top {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#user-links-container-top h4 {
    margin-right: 20px;
    text-decoration-line: underline;
    font-style: italic;
    align-self: flex-end;
}

#user-links-top {
    display: grid;
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    overflow: hidden;
    height: auto;
    width: auto;
    align-items: center;
}

/* Help Buttons */

.section-intro{
    font-size: 1.5em;
}

#help-buttons {
    display: flex;
    flex-direction: row;
}

#help-buttons li{
    border: rgb(106, 173, 240) 2px solid;
    border-radius: 25px;
    margin: 1em;
}

#contact-me-button {
    background: rgb(106, 173, 240);

}

#contact-me-button  a{
    color:white;
}


#skills-button a{
    color: rgb(106, 173, 240);
    font-weight: bold;

}

#skills-button:hover {
    color: rgb(106, 173, 240);
    border: rgb(255, 180, 82) 2px solid;

}

#skills-button a:hover {
    color: rgb(255, 180, 82);
    font-weight: bold;

}


#contact-me-button:hover {
    border: rgb(255, 180, 82) 2px solid;
    background-color: rgb(255, 180, 82);

}

/* About me */

#about-me{
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 4em;
    padding-right: 2em;
}

#about-me ul{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-right: 3em;
    padding-left: 1em;
    padding-top: 1.5em;
}

#about-me .informations{
    padding-left: 1em;
    color: rgb(106, 173, 240);
}

#about-me .informationsJob {
    padding-left: 1em;
    color: rgb(106, 173, 240);
}

#text-about-me-container{
    padding-left: 1em;
    padding-top: 1em;
    width: auto;
    text-align: justify;
    border-left: rgb(106, 173, 240) 2px solid;
}


/* Skilss */

#skills{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 2em;
    padding-bottom: 3em;
    padding-right: 2em;
}


#skills .skills-category-name{
    font-weight: bold;
    font-size: 1.7em;
}

#skills .skills-category-name span{
    border-bottom: rgb(106, 173, 240) 2px solid;
}

#hard-ones-container, #soft-ones-container {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hard-ones-container div, 
#soft-ones-container div{
    width: 100%;
    padding-left: 10%;
}

/* skills input range style*/

#skills input[type=range] {
    -webkit-appearance: none;
    width: 80%;
}

#skills input[type=range]::-webkit-slider-runnable-track {
    width: auto;
    height: 5px;
    background: rgb(106, 173, 240);
    border: none;
    border-radius: 3px;
}

#skills input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgba(21, 76, 132, 0.816);
    margin-top: -4px;
}

/* Experiance */

#experiance {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 4em;
}

#experiance ul {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-right: 3em;
    padding-left: 1em;
    padding-top: 1.5em;
}

#experiance ul li{
    padding-top: 1em;
    font-size: 1.1em;
}

#experiance #list-date {
    padding-left: 5em;
    color: rgb(106, 173, 240);
}


/* Contact */

#contact {
    width: 100%;
    display: grid;
    grid-template-columns: 40% auto;
    padding-left: 2em;
    padding-bottom: 3em;
    padding-right: 2em;

}


#text-contact-container{
    margin-top: 2em;
    width:100%;
    height: auto;
    background-color: rgb(106, 173, 240);
    font-size: 1em;
    color: #ffffff;
}


#user-links-container-bottom {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#user-links-container-bottom h4 {
    font-size: 1.1em;
    font-style: italic;
    align-self: flex-start;
    margin-left: 5%;
    margin-top:0;
    margin-bottom:0;

}

#user-links-bottom {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    overflow: hidden;
    height: auto;
    width: auto;
    margin-right: 2px;
    align-self: flex-end;
    margin-top:2em;
}

#text-contact-container p{
    padding: 10% 5% 10% 5%;
    text-align: justify;
    width:auto;
    
}

#form-contact-container{
    width:auto;
    height: 100%;
    font-size: 0.8em;
    padding-left: 10%;
    padding-right: 5%;
    position: relative;
}

#form-contact-container h4{
    font-size: 2em;
    color: rgb(106, 173, 240);
    height: auto;
    margin-bottom: 0%;
}

#form-contact-container #formMessage {
    display: block;
    height: auto;
}

#form-contact-container input {
    border: none;
    border-bottom: 1.5px solid rgb(106, 173, 240);
    background: none;
    width:80%;
    margin-top: 5%;
    
}

#message-input{
    margin-top: 30% !important;
}

#submit-button{
     color: rgb(106, 173, 240);
     position: absolute;
     font-size: 1.3em;
     border-radius: 25px;
     background:white;
     border: rgb(106, 173, 240) 2px solid;
     font-weight: bold;
     margin-top: 2em;
}


#submit-button:hover {
    border: rgb(255, 180, 82) 2px solid;
    color: rgb(255, 180, 82);
    

}


/* media details*/

@media all and (max-width:1040px) {

    header #links-container{
        margin:0;
    }


    header #links-container ul li a {
        font-size: 1em !important;
    }
    
    header #welcome-container {
        margin-left: 0;
    }


    header #welcome-container #welcome {
        font-size: 2.5em;
        margin-top: 1em;
    }

    #itroduce {
        font-size: 1.3em;
    }

    #welcome-name {
        font-size: 1.7em;
    }

    #welcome-container h3{
        font-size: 0.9em;
    }

    /* About me */

    #about-me {
        grid-template-columns: auto auto;
    }


    #text-about-me-container {
        font-size: 0.8em;
    }

    /* Experiance */

    #experiance ul {
        padding-right: 1em;
    }

    #experiance ul li {
        padding-top: 1em;
        font-size: 1em;
    }

    /* Contact */


    #text-contact-container {
        font-size: 0.8em;
    }
}

@media all and (max-width:855px) {

    #about-me .informationsJob {
        font-size: 0.8em;
    }
}

@media all and (max-width:830px) {

    header #links-container {
        margin: 0;
        align-self: flex-start;
    }

    header #welcome-container {
        margin-left: 1.5em;
    }
}

@media all and (max-width:700px) {

    /* About me */

    #about-me{
        grid-template-columns: auto;
    }

    #list-about-me-container{
        margin-left: 25%;
    }

    #about-me .informations{
        padding-left: 1em;
        color: rgb(106, 173, 240);
    }

    #about-me .informationsJob {
        padding-left: 1em;
        color: rgb(106, 173, 240);
    }

    #text-about-me-container{
        margin-top: 2em;
        margin-left: 1em; 
        border-top: rgb(106, 173, 240) 2px solid;
        border-left: none;
        font-size: 0.9em;
    }

    /* Experiance */

    #experiance #list-date {
        padding-left: 2em;
    }

    #experiance ul li {
        padding-top: 1em;
        font-size: 0.8em;
    }

    /* Contact */

    #text-contact-container {
        font-size: 0.65em;
    }

    #user-links-container-bottom h4 {
        font-size: 1em;

    }

    #user-links-bottom {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    #form-contact-container h4 {
        font-size: 1.5em;
    }

    #form-contact-container input {
        font-size: 0.9em;

    }

    #submit-button {
        font-size: 1em;
    }


}

@media all and (max-width:580px){
    
    /* Header */

    header nav{
        align-self: flex-start;
    }

    .header-container{
        width:100%;
    }

    #links-container{
        order: 3;
        font-size: 0.95em;
        padding: 20px 0;
        width:100%;
    }

    #user-links-container-top{
        margin: 0;
    }

    #user-links-container-top h4{
        display: none;
    }

    #user-links-top{
        order:1;
    }

    header #welcome-container{
        order: 2;
        margin-top: 0;
        margin-left: 1.5em;
    }

    header #welcome-container #welcome{
        margin-top: 0.5em;
    }

    #itroduce {
        font-size: 1em;
    }
    
    /* Help Buttons */

    .section-intro {
        font-size: 1em;
    }

    /* About me */

    #about-me{
        padding-bottom: 1em;
    }

    #list-about-me-container {
        margin-left: 1%;
        margin-right: 0;
        
    }

    #list-about-me-container .informationsJob{
        font-size: 1em;
    }

    #about-me ul{
        padding-top: 0;
    }

     /* Experiance */

     #experiance #list-date {
         padding-left: 0.5em;
     }

     #experiance ul li {
         padding-top: 1em;
         font-size: 0.8em;
     }

    /* Contact */

    #contact{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding-left: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
    }

    #text-contact-container {
        margin-top: 5em;
        order: 2;
    }

    #user-links-container-bottom h4 {
        font-size: 1em;

    }

    #text-contact-container p {
        padding-top:2%;
        padding-bottom: 2%;
    }

    #user-links-bottom {
        grid-template-columns: repeat(4, minmax(auto, 1fr));
    }


    #message-input {
        margin-top: 15% !important;
    }

    #form-contact-container{
        padding-left: 5%;
    }

    #submit-button {
        margin-top: 2em;
        font-size: 0.8em;
    }


}





