@import "./variables.css";

*, ::after, ::before {
    box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
}

#background-image{
    background-image: url("../assets/backgroundImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    height: 40%;
}
